doctype html
html.no-js(lang='it')
    include ../partials/head
    body
        //
            [if lt IE 8]
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            [endif]

        include ../partials/header
        block content
        include ../partials/footer
        include ../partials/scripts
        block script