
footer
    .footer-copyright-area
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .footer-copy-right
                        p.text-muted Copyright Miki Violetto © 2018 . All rights reserved. - Temperature Tracking App