heater
    .header-top-area
        .container
            .row
                .col-lg-9.col-md-9.col-sm-12.col-xs-12
                    //.logo-area
                    a.btn.btn-defult.btn-lg.btn-block(href='/')
                        h1.bg-dark.text-white.title-text.text-left Temperature Tracking App
                            img.mg-r-15(src='/assets/img/logo/logo.png' alt='' height='20' width='20')
                            

                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                    .header-top-menu
                        ul.nav.navbar-nav.notika-top-nav
                            li
                                a.btn.btn-defult(href='/signout') Logout