    
script(src='/assets/js/vendor/jquery-1.12.4.min.js')
script(src='/assets/js/bootstrap.min.js')
script(src='/assets/js/wow.min.js')
script(src='/assets/js/jquery-price-slider.js')
script(src='/assets/js/owl.carousel.min.js')
script(src='/assets/js/jquery.scrollUp.min.js')
script(src='/assets/js/meanmenu/jquery.meanmenu.js')
script(src='/assets/js/counterup/jquery.counterup.min.js')
script(src='/assets/js/counterup/waypoints.min.js')
script(src='/assets/js/counterup/counterup-active.js')
script(src='/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js')
script(src='/assets/js/sparkline/jquery.sparkline.min.js')
script(src='/assets/js/sparkline/sparkline-active.js')
script(src='/assets/js/flot/jquery.flot.js')
script(src='/assets/js/flot/jquery.flot.resize.js')
script(src='/assets/js/flot/flot-active.js')
script(src='/assets/js/knob/jquery.knob.js')
script(src='/assets/js/knob/jquery.appear.js')
script(src='/assets/js/knob/knob-active.js')
script(src='/assets/js/wave/waves.min.js')
script(src='/assets/js/wave/wave-active.js')
script(src='/assets/js/icheck/icheck.min.js')
script(src='/assets/js/icheck/icheck-active.js')
script(src='/assets/js/todo/jquery.todo.js')
script(src='/assets/js/login/login-action.js')
script(src='/assets/js/plugins.js')
script(src='/assets/js/main.js')